{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <!-- <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2> -->
    <h2 class="archive__item-title" itemprop="headline">
      {% if include.linked_title == false %}
        <span>{{ title }}</span>
      {% elsif post.collection == 'publications' %}
        <span>{{ title }}</span>
      {% elsif post.website %}
        <a href="{{ post.website }}" target="_blank" rel="noopener">{{ title }}</a>
      {% elsif post.collection == 'service' %}
        <span>{{ title }}</span>
      {% elsif post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
        {% if post.collection == 'teaching' %}
          <p class="teaching__meta">{{ post.type }} in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}.</p>
        {% elsif post.collection == 'publications' %}
          <p class="publication__meta"><i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
        {% elsif post.collection == 'service' and post.type %}
          <p class="service__meta">{{ post.type }}</p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.citation or post.paperurl or post.slidesurl or post.bibtexurl %}
      <div class="publication__citation">
        {% if post.citation %}
          <label class="publication__citation-label" for="citation-{{ post.slug | default: post.title | slugify }}">Reference</label>
          <div class="publication__citation-field">
            <input id="citation-{{ post.slug | default: post.title | slugify }}" class="publication__citation-input" type="text" value="{{ post.citation | strip | escape }}" readonly>
            <button class="publication__copy-citation" type="button" aria-label="Copy paper reference">
              <i class="fa-solid fa-copy" aria-hidden="true"></i>
              <span class="sr-only">Copy reference</span>
            </button>
          </div>
          <span class="publication__copy-status" aria-live="polite"></span>
        {% endif %}
        {% if post.paperurl or post.slidesurl or post.bibtexurl %}
          <div class="publication__links">
            {% if post.paperurl %}<a href="{{ post.paperurl }}">Paper</a>{% endif %}
            {% if post.slidesurl %}<a href="{{ post.slidesurl }}">Slides</a>{% endif %}
            {% if post.bibtexurl %}<a href="{{ post.bibtexurl }}">BibTeX</a>{% endif %}
          </div>
        {% endif %}
      </div>
    {% endif %}

  </article>
</div>
